@charset "UTF-8";

@font-face {
  font-family: "CocoSharp-Bold";
  font-display: swap;
  src: url("../fonts/CocoSharp-Bold.woff") format("woff"), url("../fonts/CocoSharp-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "CocoSharp-Extrabold";
  font-display: swap;
  src: url("../fonts/CocoSharp-Extrabold.woff") format("woff"), url("../fonts/CocoSharp-Extrabold.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "CocoSharp-ExtraLight";
  font-display: swap;
  src: url("../fonts/CocoSharp-ExtraLight.woff") format("woff"), url("../fonts/CocoSharp-ExtraLight.woff2") format("woff2");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "CocoSharp-Heavy";
  font-display: swap;
  src: url("../fonts/CocoSharp-Heavy.woff") format("woff"), url("../fonts/CocoSharp-Heavy.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "CocoSharp-Light";
  font-display: swap;
  src: url("../fonts/CocoSharp-Light.woff") format("woff"), url("../fonts/CocoSharp-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "CocoSharp-Regular";
  font-display: swap;
  src: url("../fonts/CocoSharp-Regular.woff") format("woff"), url("../fonts/CocoSharp-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "PierSans-Black";
  font-display: swap;
  src: url("../fonts/PierSans-Black.woff") format("woff"), url("../fonts/PierSans-Black.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "PierSans-Bold";
  font-display: swap;
  src: url("../fonts/PierSans-Bold.woff") format("woff"), url("../fonts/PierSans-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "PierSans-Italic";
  font-display: swap;
  src: url("../fonts/PierSans-Italic.woff") format("woff"), url("../fonts/PierSans-Italic.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "PierSans-Light";
  font-display: swap;
  src: url("../fonts/PierSans-Light.woff") format("woff"), url("../fonts/PierSans-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "PierSans-Medium";
  font-display: swap;
  src: url("../fonts/PierSans-Medium.woff") format("woff"), url("../fonts/PierSans-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "PierSans-Regular";
  font-display: swap;
  src: url("../fonts/PierSans-Regular.woff") format("woff"), url("../fonts/PierSans-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "icons";
  font-display: swap;
  src: url("../fonts/icons.woff") format("woff"), url("../fonts/icons.woff2#icons") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^=_icon-]:before,
[class*=" _icon-"]:before {
  font-family: "icons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^=_icon-]:before,
[class*=" _icon-"]:before {
  display: block;
}

._icon-global:before {
  content: "";
}

._icon-github:before {
  content: "";
}

._icon-linkedin:before {
  content: "";
}

._icon-telegram:before {
  content: "";
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

html,
body {
  height: 100%;
  min-width: 280px;
}

body {
  line-height: 1;
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: sans-serif;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body {
  background: #000;
  color: #fff;
  font-family: "CocoSharp-ExtraLight", sans-serif;
  font-size: 18px;
  text-transform: lowercase;
}

body._lock {
  overflow: hidden;
}

.container {
  margin: 0 10%;
}

.ibg {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.ibg img {
  display: none;
}

img {
  opacity: 1;
  visibility: visible;
}

.section {
  position: relative;
  padding: 5% 0;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.section__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  top: 50%;
  -webkit-writing-mode: vertical-lr;
      -ms-writing-mode: tb-lr;
          writing-mode: vertical-lr;
  -webkit-transform: rotate(180deg) translate(0, 50%);
      -ms-transform: rotate(180deg) translate(0, 50%);
          transform: rotate(180deg) translate(0, 50%);
}

.section__title-text {
  font-size: 80px;
  opacity: 0.3;
}

.section__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.section__content-wrapper {
  width: 75%;
}

.section__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.section__row:not(:last-child) {
  margin: 0 0 7% 0;
}

.section__column_left {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 40%;
          flex: 0 1 40%;
  padding: 0 10% 0 0;
}

.section__column_right {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 60%;
          flex: 0 1 60%;
}

.section__column-item:not(:last-child) {
  margin: 0 0 3% 0;
}

.section__column-title-text {
  text-align: right;
  font-size: 40px;
}

.section__column-content-text {
  line-height: 40px;
}

.section__column-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 0 1% 0;
}

.section__row-item_left {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 65%;
          flex: 0 1 65%;
}

.section__row-item_right {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 35%;
          flex: 0 1 35%;
  text-align: right;
}

.section__item-organization {
  font-size: 30px;
  line-height: 40px;
}

.section__item-period {
  opacity: 0.5;
  font-size: 14px;
}

.section__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 10% 0 0 0;
}

.section__link-text {
  color: #fff;
  letter-spacing: 30px;
  opacity: 0.5;
}

.section__network-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.section__network {
  margin: 0 10% 0 0;
}

.section__network-link {
  display: block;
  color: #ffffff;
  opacity: 0.5;
  -webkit-transition: 0.7s cubic-bezier(0.79, 0.36, 0.29, 1.03);
  -o-transition: 0.7s cubic-bezier(0.79, 0.36, 0.29, 1.03);
  transition: 0.7s cubic-bezier(0.79, 0.36, 0.29, 1.03);
}

.section__network-link i {
  font-size: 40px;
}

.section__network-link:hover {
  opacity: 1;
}

.animated-background__wrapper {
  overflow-x: hidden;
  overflow-y: hidden;
  position: absolute;
  left: 0px;
  z-index: 0;
  width: 100%;
  isolation: isolate;
}

.dot {
  --size: 900px;
  display: none;
  position: fixed;
  left: calc(var(--size) / 3 * -1);
  top: calc(var(--size) / 3 * -1);
  width: var(--size);
  height: var(--size);
  mix-blend-mode: soft-light;
  border-radius: var(--size);
  -webkit-filter: blur(calc(var(--size) / 6));
          filter: blur(calc(var(--size) / 6));
  -webkit-animation: dotAnimation ease-in-out 25s infinite;
          animation: dotAnimation ease-in-out 25s infinite;
  will-change: transform;
}

.dot_one {
  background: #7d8faf;
}

.dot_two {
  background: #513a47;
  -webkit-animation-delay: -7s;
          animation-delay: -7s;
}

.dot_three {
  background: #c88e90;
  -webkit-animation-delay: -14s;
          animation-delay: -14s;
}

@supports (mix-blend-mode: soft-light) and (filter: blur(1px)) {
  .animated-background__wrapper {
    background: none;
  }

  .dot {
    display: block;
  }
}

@-webkit-keyframes dotAnimation {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }

  33% {
    -webkit-transform: translate(calc(var(--size) / 1.2), 0);
            transform: translate(calc(var(--size) / 1.2), 0);
  }

  66% {
    -webkit-transform: translate(0, calc(var(--size) / 1.2));
            transform: translate(0, calc(var(--size) / 1.2));
  }

  100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}

@keyframes dotAnimation {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }

  33% {
    -webkit-transform: translate(calc(var(--size) / 1.2), 0);
            transform: translate(calc(var(--size) / 1.2), 0);
  }

  66% {
    -webkit-transform: translate(0, calc(var(--size) / 1.2));
            transform: translate(0, calc(var(--size) / 1.2));
  }

  100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}

@-webkit-keyframes dotAnimationPulse {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }

  25% {
    -webkit-transform: scale(1.4);
            transform: scale(1.4);
  }

  50% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }

  75% {
    -webkit-transform: scale(1.7);
            transform: scale(1.7);
  }

  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes dotAnimationPulse {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }

  25% {
    -webkit-transform: scale(1.4);
            transform: scale(1.4);
  }

  50% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }

  75% {
    -webkit-transform: scale(1.7);
            transform: scale(1.7);
  }

  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.header {
  position: fixed;
  width: 100%;
  z-index: 100;
  left: 0;
  opacity: 1;
  visibility: visible;
  -webkit-transition-delay: 0.4s;
       -o-transition-delay: 0.4s;
          transition-delay: 0.4s;
  -webkit-transition: 0.7s cubic-bezier(0.79, 0.36, 0.29, 1.03);
  -o-transition: 0.7s cubic-bezier(0.79, 0.36, 0.29, 1.03);
  transition: 0.7s cubic-bezier(0.79, 0.36, 0.29, 1.03);
}

.header._lock {
  opacity: 0;
  visibility: hidden;
}

.menu__body {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  overflow: auto;
  opacity: 0;
  visibility: hidden;
  -webkit-transition-delay: 0.4s;
       -o-transition-delay: 0.4s;
          transition-delay: 0.4s;
  -webkit-transition: 0.7s cubic-bezier(0.79, 0.36, 0.29, 1.03);
  -o-transition: 0.7s cubic-bezier(0.79, 0.36, 0.29, 1.03);
  transition: 0.7s cubic-bezier(0.79, 0.36, 0.29, 1.03);
}

.menu__body._menu-active {
  opacity: 1;
  visibility: visible;
}

.menu__item {
  margin: 0 0 20% 0;
}

.menu__link {
  color: #ffffff;
  font-size: 40px;
}

.icon-menu {
  display: block;
  position: absolute;
  top: 15px;
  right: 15px;
  height: 18px;
  width: 30px;
  cursor: pointer;
  z-index: 1000;
  opacity: 0.5;
  -webkit-transition: 0.7s cubic-bezier(0.79, 0.07, 0.43, 0.86);
  -o-transition: 0.7s cubic-bezier(0.79, 0.07, 0.43, 0.86);
  transition: 0.7s cubic-bezier(0.79, 0.07, 0.43, 0.86);
}

.icon-menu:hover {
  opacity: 1;
}

.icon-menu span {
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #fff;
  -webkit-transition: 0.7s cubic-bezier(0.79, 0.36, 0.29, 1.03);
  -o-transition: 0.7s cubic-bezier(0.79, 0.36, 0.29, 1.03);
  transition: 0.7s cubic-bezier(0.79, 0.36, 0.29, 1.03);
}

.icon-menu span:first-child {
  top: 0;
}

.icon-menu span:nth-child(2) {
  top: 50%;
  -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
          transform: translate(0, -50%);
}

.icon-menu span:last-child {
  bottom: 0;
}

.icon-menu._menu-active {
  opacity: 1;
}

.icon-menu._menu-active span {
  -webkit-transition: 0.7s cubic-bezier(0.79, 0.36, 0.29, 1.03);
  -o-transition: 0.7s cubic-bezier(0.79, 0.36, 0.29, 1.03);
  transition: 0.7s cubic-bezier(0.79, 0.36, 0.29, 1.03);
}

.icon-menu._menu-active span:first-child {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
  top: 40%;
}

.icon-menu._menu-active span:nth-child(2) {
  opacity: 0;
}

.icon-menu._menu-active span:last-child {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  bottom: 50%;
}

.main-screen {
  position: relative;
  width: 100%;
}

.main-screen__title-wrapper {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main-screen__title {
  margin: 0 0 1% 0;
}

.main-screen__title-text {
  font-size: 80px;
}

.main-screen__subtitle {
  margin: 0 0 5% 0;
}

.main-screen__subtitle-text {
  font-size: 25px;
}

.main-screen {
  position: relative;
  width: 100%;
}

.main-screen__title-wrapper {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main-screen__title {
  margin: 0 0 1% 0;
}

.main-screen__title-text {
  font-size: 80px;
}

.main-screen__subtitle {
  margin: 0 0 5% 0;
}

.main-screen__subtitle-text {
  font-size: 25px;
}

.resume__skill-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.resume__skill-column {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 25%;
          flex: 0 1 25%;
}

.resume__skill-column_language {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 60%;
          flex: 0 1 60%;
}

.resume__skill-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.resume__skill-text {
  font-size: 18px;
  line-height: 40px;
}

.resume__skill-level {
  opacity: 0.5;
  font-size: 14px;
}

.resume__skill-link {
  position: relative;
  display: block;
  color: #fff;
  opacity: 0.5;
  -webkit-transition: 0.7s cubic-bezier(0.79, 0.36, 0.29, 1.03);
  -o-transition: 0.7s cubic-bezier(0.79, 0.36, 0.29, 1.03);
  transition: 0.7s cubic-bezier(0.79, 0.36, 0.29, 1.03);
  line-height: 25px;
  font-size: 14px;
}

.resume__skill-link:hover {
  opacity: 1;
}

.portfolio__row {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.portfolio__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}

.portfolio__column-title {
  margin: 0 0 3% 0;
}

.section__column-subtitle {
  opacity: 0.5;
}

.section__column-subtitle-text {
  text-align: right;
}

.section__column-content-img {
  -webkit-filter: grayscale(1);
          filter: grayscale(1);
  opacity: 0.5;
  -webkit-transition: 0.7s;
  -o-transition: 0.7s;
  transition: 0.7s;
}

.section__column-content-img a {
  display: block;
}

.section__column-content-img img {
  width: 100%;
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
}

.section__column-content-img:hover {
  -webkit-filter: grayscale(0);
          filter: grayscale(0);
  opacity: 1;
}

.projects__row_demo {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.projects__column-content-img {
  -webkit-filter: grayscale(0);
          filter: grayscale(0);
  opacity: 1;
}

.projects__stack-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.projects__stack-column {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}

.projects__stack-text {
  font-size: 18px;
  line-height: 40px;
}

.contacts__column_left {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 60%;
          flex: 0 1 60%;
}

.contacts__column_right {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 40%;
          flex: 0 1 40%;
}

.contacts__column-content-email {
  color: #ffffff;
  line-height: 40px;
  opacity: 0.5;
  -webkit-transition: 0.7s cubic-bezier(0.79, 0.36, 0.29, 1.03);
  -o-transition: 0.7s cubic-bezier(0.79, 0.36, 0.29, 1.03);
  transition: 0.7s cubic-bezier(0.79, 0.36, 0.29, 1.03);
}

.contacts__column-content-email:hover {
  opacity: 1;
}

.contacts__column-content-phone {
  color: #ffffff;
  line-height: 40px;
  opacity: 0.5;
  -webkit-transition: 0.7s cubic-bezier(0.79, 0.36, 0.29, 1.03);
  -o-transition: 0.7s cubic-bezier(0.79, 0.36, 0.29, 1.03);
  transition: 0.7s cubic-bezier(0.79, 0.36, 0.29, 1.03);
}

.contacts__column-content-phone:hover {
  opacity: 1;
}

.page {
  opacity: 1;
  visibility: visible;
  -webkit-transition-delay: 0.4s;
       -o-transition-delay: 0.4s;
          transition-delay: 0.4s;
  -webkit-transition: 0.7s cubic-bezier(0.79, 0.36, 0.29, 1.03);
  -o-transition: 0.7s cubic-bezier(0.79, 0.36, 0.29, 1.03);
  transition: 0.7s cubic-bezier(0.79, 0.36, 0.29, 1.03);
}

.page._lock {
  opacity: 0;
  visibility: hidden;
}

@media (max-width: 1280px) {
  .section__title {
    display: block;
    position: relative;
    -webkit-writing-mode: horizontal-tb;
        -ms-writing-mode: lr-tb;
            writing-mode: horizontal-tb;
    -webkit-transform: none;
        -ms-transform: none;
            transform: none;
    text-align: center;
    margin: 0 0 5% 0;
  }

  .section__content {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }

  .section__content-wrapper {
    width: 100%;
  }
}

@media (max-width: 1024px) {
  .section__column-title-text {
    font-size: 38px;
  }
}

@media (max-width: 858px) {
  .main-screen__title {
    margin: 0 0 3% 0;
  }
}

@media (max-width: 801px) {
  .section__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .section__column_left {
    padding: 0;
  }

  .section__column-item:not(:last-child) {
    margin: 0 0 10% 0;
  }

  .section__column-title {
    margin: 0 0 3% 0;
  }

  .section__column-title-text {
    text-align: center;
    font-size: 40px;
  }

  .section__column-row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }

  .section__row-item_left {
    margin: 0 0 1% 0;
  }

  .section__row-item_right {
    text-align: left;
  }
}

@media (max-width: 800px) {
  .section__column-subtitle {
    margin: 0 0 5% 0;
  }

  .section__column-subtitle-text {
    text-align: center;
  }
}

@media (max-width: 768px) {
  .section__item-organization {
    font-size: 27px;
  }
}

@media (max-width: 600px) {
  .section__column-content-text {
    line-height: 30px;
  }

  .section__link-text {
    letter-spacing: 25px;
  }

  .resume__skill-row {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .resume__skill-column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
  }

  .resume__skill-column_language {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }
}

@media (max-width: 533px) {
  .section__column-title-text {
    font-size: 35px;
  }

  .section__column-title-text {
    font-size: 30px;
  }

  .main-screen__title-text {
    font-size: 75px;
  }

  .main-screen__subtitle-text {
    font-size: 23px;
  }
}

@media (max-width: 480px) {
  .section__title {
    margin: 0 0 15% 0;
  }

  .section__title-text {
    font-size: 50px;
  }

  .section__row:not(:last-child) {
    margin: 0 0 20% 0;
  }

  .section__column-title {
    margin: 0 0 6% 0;
  }

  .section__item-organization {
    line-height: 35px;
  }

  .section__link-text {
    letter-spacing: 16px;
    font-size: 15px;
  }

  .dot {
    --size: 500px;
  }

  .menu__link {
    font-size: 35px;
  }

  .main-screen__title-text {
    font-size: 55px;
  }

  .main-screen__subtitle-text {
    font-size: 20px;
  }
}

@media (max-width: 360px) {
  .section__link-text {
    letter-spacing: 7px;
    font-size: 14px;
  }

  .dot {
    --size: 400px;
  }

  .menu__link {
    font-size: 30px;
  }

  .main-screen__title-text {
    font-size: 50px;
  }

  .main-screen__subtitle-text {
    font-size: 18px;
  }
}

@media (max-width: 320px) {
  .section__title-text {
    font-size: 40px;
  }

  .section__column-content-text {
    line-height: 25px;
  }

  .section__item-organization {
    font-size: 25px;
    line-height: 30px;
  }

  .dot {
    --size: 300px;
  }

  .main-screen__title-text {
    font-size: 45px;
  }
}
@supports (-webkit-appearance:none){

}

 @media (max-width: 1280px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 1024px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 858px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 801px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 800px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 768px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 600px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 533px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 480px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 360px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 320px){

@supports (-webkit-appearance:none){

}

}
