.portfolio {
    display: none;
    &__title {
    }

    &__row {
        align-items: center;
    }

    &__column {
        flex: 0 1 50%;
    }

    &__column-title {
        margin: 0 0 3% 0;
    }
}
.section {
    &__column-subtitle {
        opacity: 0.5;
        @media(max-width: 800px) {
            margin: 0 0 5% 0;
        }
    }
    &__column-subtitle-text {
        text-align: right;
        @media(max-width: 800px) {
            text-align: center;
        }
    }

    &__column-content-img {
        opacity: 0.8;
        transition: 0.7s;
        a {
            display: block;
        }
        img {
            width: 100%;
            transition: 1s;
        }
    }
}
