.contacts {
  &__column-content-text {
    @media (max-width: 801px) {
      text-align: center;
    }
  }
  &__column-content-link {
    @media (max-width: 801px) {
      text-align: center;
    }
  }
  &__column-content-email {
    color: #ffffff;
    line-height: 40px;
    opacity: 0.5;
    transition: 0.7s cubic-bezier(0.79, 0.36, 0.29, 1.03);
    &:hover {
      opacity: 1;
    }
  }
  &__column-content-phone {
    color: #ffffff;
    line-height: 40px;
    opacity: 0.5;
    transition: 0.7s cubic-bezier(0.79, 0.36, 0.29, 1.03);
    &:hover {
      opacity: 1;
    }
  }
}