.header {
  position: fixed;
  width: 100%;
  z-index: 100;
  left: 0;
  opacity: 1;
  visibility: visible;
  transition-delay: 0.4s;
  transition: 0.7s cubic-bezier(0.79, 0.36, 0.29, 1.03);
  &._lock {
    opacity: 0;
    visibility: hidden;
  }
  &__theme {
    width: 50px;
    height: 22px;
    border: 2px solid #ffffff;
    opacity: 0.5;
    border-radius: 30px;
    position: absolute;
    top: 75px;
    right: 25px;
    cursor: pointer;
    transition: 0.7s cubic-bezier(0.79, 0.36, 0.29, 1.03);
    .inticator {
      position: absolute;
      height: 14px;
      top: 50%;
      transform: translate(2px, -50%);
      width: 14px;
      background: #ffffff;
      border-radius: 50%;
      transition: 0.7s cubic-bezier(0.79, 0.36, 0.29, 1.03);
    }
    &:hover {
      opacity: 1;
    }
    &.active {
      .inticator {
        transform: translate(30px, -50%);
      }
    }
    @media(max-width: 768px) {
      top: 13px;
      right: 80px;
    }
  }
}
.menu {
  &__body {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    overflow: auto;
    opacity: 0;
    visibility: hidden;
    transition-delay: 0.4s;
    transition: 0.7s cubic-bezier(0.79, 0.36, 0.29, 1.03);
    &._menu-active {
      opacity: 1;
      visibility: visible;
    }
  }
  &__item {
    margin: 0 0 20% 0;
  }
  &__link {
    color: #ffffff;
    font-size: 40px;
    @media (max-width: 480px) {
      font-size: 35px;
    }
    @media (max-width: 360px) {
      font-size: 30px;
    }
  }
}
.icon-menu {
  display: block;
  position: absolute;
  top: 25px;
  right: 25px;
  height: 18px;
  width: 50px;
  cursor: pointer;
  z-index: 1000;
  opacity: 0.5;
  transition: 0.7s cubic-bezier(0.79, 0.07, 0.43, 0.86);
  &:hover {
    opacity: 1;
  }
  span {
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #fff;
    transition: 0.7s cubic-bezier(0.79, 0.36, 0.29, 1.03);
    &:first-child {
      top: 2px;
    }
    &:last-child {
      bottom: 2px;
    }
  }
  @media(max-width: 768px) {
    top: 15px;
    right: 15px;
    width: 40px;
  }
  &._menu-active {
    opacity: 1;
    span {
      transition: 0.7s cubic-bezier(0.79, 0.36, 0.29, 1.03);
      &:first-child {
        transform: rotate(-45deg);
        top: 40%;
      }
      &:last-child {
        transform: rotate(45deg);
        bottom: 50%;
      }
    }
  }
}
