.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  transition: 0.7s cubic-bezier(0.79, 0.07, 0.43, 0.86);
  opacity: 0;
  visibility: hidden;
  overflow: auto;
}
.popup.open {
  opacity: 1;
  visibility: visible;
  z-index: 1000;
}
.popup__close {
  display: block;
  position: fixed;
  top: 40px;
  right: 30px;
  height: 18px;
  width: 50px;
  cursor: pointer;
  z-index: 1000;
  opacity: 0.5;
  transition: 0.7s cubic-bezier(0.79, 0.07, 0.43, 0.86);
  &:hover {
    opacity: 1;
  }
  span {
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #fff;
    &:first-child {
      transform: rotate(-45deg);
    }
    &:last-child {
      transform: rotate(45deg);
    }
  }
}
.popup__photo-wrapper {
  display: flex;
  justify-content: center;
  margin: 0 0 5% 0;
}
.popup__photo {
  width: 600px;
  img {
    width: 100%;
  }
}