//MEDIA-QUERIES
//large dasktops & laptops
$md1: 1920px;
$md2: 1680px;
$md3: 1366px;
$md4: 1280px;

//landscape tablets, small desktops & laptops
$md5: 1024px;
$md6: 800px;

//portrait tablets & landscape phones
$md7: 768px;
$md8: 600px;
$md9: 533px;

//portrait phones and smaller
$md10: 480px;
$md11: 360px;
$md12: 320px;
$md13: 280px;
$md14: 240px;
$md15: 176px;

//COLORS
// $mainGreen: #c88e90;
// $mainPink: #7d8faf;
// $mainBlue: #513a47;

// $mainGreen: #d9ecf2;
// $mainPink: #ff414d;
// $mainBlue: #1aa6b7;

$mainGreen: #bce7d9;
$mainPink: #4c5175;
$mainBlue: #c6cbce;